<div class="row">
    <div class="col-md-3 mb-5 animate__animated animate__fadeIn" *ngFor="let film of films">
        <img [src]="film.backdrop_path | poster " class="img-fluid poster" (click)="onFilmClick(film)">
        <div>
            <h3>{{film.title}}</h3>
            <div class="col-10 text-white">
                <star-rating [value]="film.vote_average" [totalstars]="10" checkedcolor="yellow" uncheckedcolor="grey" size="14px" [readonly]="false"></star-rating>
            </div>
            <div class="col-2 text-white">
                {{ film.vote_average | number: '1.1-2' }}
            </div>
        </div>

    </div>
</div>