<h1 class="animated fadeIn fast">About Comic Application</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam nisi deserunt animi id voluptatibus tempora unde distinctio possimus officiis, earum incidunt. Suscipit ab possimus placeat nobis expedita, tempora laudantium vero! Lorem ipsum dolor sit
    amet consectetur adipisicing elit. Aperiam nisi deserunt animi id voluptatibus tempora unde distinctio possimus officiis, earum incidunt. Suscipit ab possimus placeat nobis expedita, tempora laudantium vero! Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Aperiam nisi deserunt animi id voluptatibus tempora unde distinctio possimus officiis, earum incidunt. Suscipit ab possimus placeat nobis expedita, tempora laudantium vero! Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Aperiam nisi deserunt animi id voluptatibus tempora unde distinctio possimus officiis, earum incidunt. Suscipit ab possimus placeat nobis expedita, tempora laudantium vero!
</p>